// Colors
$text-white: #ffffff;
$title-white: #e5e5e5;
$green-color: #9dff3a;
$grey-color: #999999;
$black-color: #000000;
$linear-color1: #4d4d4d;
$linear-color2: #b3b3b3;
$orange-color: #b48d0b;
$gray4-color: #0f0f0f;
$gray3-color: #2e2e2e;

// Adaptive
$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
