@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black-color;
  font-family: "Alexandria", sans-serif;
}

img {
  object-fit: contain;
}

.header {
  padding: 20px;
  width: 100%;
  @include respond-to("desktop") {
    padding: 20px 120px;
  }

  .container {
    margin: 0 auto;
    @include flex-between;
  }

  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $text-white;
    @include font(22px, 27px, 500);

    &-icon {
      width: 32px;
      height: 32px;
      margin-right: 12px;
    }
    &-btn {
      display: flex;
      width: 18px;
      height: 12px;
      @include respond-to("desktop") {
        display: none;
      }
    }
  }

  .nav {
    display: none;
    column-gap: 40px;
    @include respond-to("desktop") {
      display: flex;
    }
    &__link {
      text-decoration: none;
      color: $grey-color;
      transition: color 0.3s ease;
      @include font(16px, 20px, 400);
      &:hover {
        color: $text-white;
      }
    }
  }
}

.hero {
  padding: 0 20px;
  @include respond-to("desktop") {
    padding: 20px 120px;
  }
  .container {
    @include respond-to("desktop") {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include respond-to("desktop") {
      align-items: flex-start;
      text-align: start;
      gap: 8px;
    }
    .batch {
      display: inline-block;
      padding: 10px 12px;
      border: 1px solid transparent;
      background:
        linear-gradient($black-color) padding-box,
        linear-gradient(to right, $linear-color1, $linear-color2) border-box;
      border-radius: 100px;
      color: $green-color;
      margin-bottom: 16px;
      @include font(14px, 17px, 400);
    }
    .title {
      span {
        display: block;
      }

      margin-bottom: 16px;
      color: $title-white;
      @include font(40px, 110%, 500);
      @include respond-to("desktop") {
        @include font(64px, 110%, 700);
      }
    }
    .description {
      margin-bottom: 32px;
      color: $grey-color;
      @include font(20px, 20px, 400);
      @include respond-to("desktop") {
        max-width: 535px;
        @include font(20px, 140%, 400);
      }
    }
    .btn-primary {
      display: inline-block;
      background-color: $green-color;
      color: $black-color;
      padding: 14px 24px;
      border-radius: 100px;
      text-decoration: none;
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba($orange-color, 0.2);
      }
    }
  }
  &__wrapper-img {
    margin-top: 32px;
    margin-bottom: 40px;
  }
}

.brands {
  background-color: $gray4-color;
  text-align: center;
  padding: 40px 0;
  &__title {
    margin-bottom: 30px;
    color: $grey-color;
    @include font(16px, 100%, 400);
  }
  &__all {
    @include flex-between;
    // flex-wrap: wrap;
    gap: 72px;
  }
  &__logo {
    height: 30px;
    width: auto;
    opacity: 0.6;
    transition: all 0.3s ease;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

.feature {
  &__header {
    margin-top: 80px;
    text-align: center;
    .batch {
      display: inline-block;
      border: 1px solid $gray3-color;
      border-radius: 100px;
      padding: 12px 20px;
      color: $green-color;
      margin-bottom: 20px;
      @include font(14px, 17px, 400);
    }
    .title {
      color: $title-white;
      margin-bottom: 20px;
      @include font(48px, 100%, 400);
    }
    .description {
      margin: 0 auto;
      max-width: 600px;
      font-family: "Inter" sans-serif;
      color: $grey-color;
      @include font(18px, 140%, 400);
    }
  }
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    .feature-card {
      border-radius: 12px;
      border: 1px solid transparent;
      background:
        linear-gradient($black-color) padding-box,
        linear-gradient(to right, $linear-color1, $linear-color2) border-box;
    }
  }
}
