* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Alexandria", sans-serif;
}

img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  padding: 20px;
  width: 100%;
}
@media (min-width: 1024px) {
  .header {
    padding: 20px 120px;
  }
}
.header .container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
}
.header .logo-icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.header .logo-btn {
  display: flex;
  width: 18px;
  height: 12px;
}
@media (min-width: 1024px) {
  .header .logo-btn {
    display: none;
  }
}
.header .nav {
  display: none;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (min-width: 1024px) {
  .header .nav {
    display: flex;
  }
}
.header .nav__link {
  text-decoration: none;
  color: #999999;
  transition: color 0.3s ease;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.header .nav__link:hover {
  color: #ffffff;
}

.hero {
  padding: 0 20px;
}
@media (min-width: 1024px) {
  .hero {
    padding: 20px 120px;
  }
}
@media (min-width: 1024px) {
  .hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 1024px) {
  .hero__content {
    align-items: flex-start;
    text-align: start;
    gap: 8px;
  }
}
.hero__content .batch {
  display: inline-block;
  padding: 10px 12px;
  border: 1px solid transparent;
  background: linear-gradient(#000000) padding-box, linear-gradient(to right, #4d4d4d, #b3b3b3) border-box;
  border-radius: 100px;
  color: #9dff3a;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.hero__content .title span {
  display: block;
}
.hero__content .title {
  margin-bottom: 16px;
  color: #e5e5e5;
  font-size: 40px;
  line-height: 110%;
  font-weight: 500;
}
@media (min-width: 1024px) {
  .hero__content .title {
    font-size: 64px;
    line-height: 110%;
    font-weight: 700;
  }
}
.hero__content .description {
  margin-bottom: 32px;
  color: #999999;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .hero__content .description {
    max-width: 535px;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
  }
}
.hero__content .btn-primary {
  display: inline-block;
  background-color: #9dff3a;
  color: #000000;
  padding: 14px 24px;
  border-radius: 100px;
  text-decoration: none;
  transition: transform 0.5s ease;
}
.hero__content .btn-primary:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(180, 141, 11, 0.2);
}
.hero__wrapper-img {
  margin-top: 32px;
  margin-bottom: 40px;
}

.brands {
  background-color: #0f0f0f;
  text-align: center;
  padding: 40px 36px;
}
.brands__title {
  margin-bottom: 32px;
  color: #999999;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .brands__title {
    margin-bottom: 40px;
  }
}
.brands__all {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 1024px) {
  .brands__all {
    gap: 72px;
  }
}
.brands__logo {
  height: 23px;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.6;
  transition: all 0.3s ease;
}
@media (min-width: 1024px) {
  .brands__logo {
    height: 32px;
  }
}
.brands__logo:hover {
  opacity: 1;
  transform: scale(1.05);
}

.feature .container {
  padding: 40px 20px;
}
.feature__header {
  text-align: center;
  margin: 0 auto;
  max-width: 544px;
}
.feature__header .batch {
  display: inline-block;
  border: 1px solid #2e2e2e;
  border-radius: 100px;
  padding: 12px 20px;
  color: #9dff3a;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .feature__header .batch {
    margin-bottom: 20px;
  }
}
.feature__header .title {
  color: #e5e5e5;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .feature__header .title {
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
    margin-bottom: 20px;
  }
}
.feature__header .description {
  color: #999999;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 32px;
}
@media (min-width: 1024px) {
  .feature__header .description {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    margin-bottom: 80px;
  }
}
.feature__row {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 16px;
}
@media (min-width: 1024px) {
  .feature__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
.feature__row .feature-card {
  border-radius: 12px;
  border: 1px solid transparent;
  background: linear-gradient(#000000) padding-box, linear-gradient(to right, #4d4d4d, #b3b3b3) border-box;
}
.feature__row .feature-card__icon {
  margin: 30px;
  height: 36px;
}
.feature__row .feature-card__title {
  font-family: "Inter", sans-serif;
  color: #e5e5e5;
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 16px;
}
.feature__row .feature-card__desc {
  color: #999999;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 30px;
  padding: 0 20px;
}

.statistics {
  background-color: #0f0f0f;
  padding: 40px 20px;
}
.statistics .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.statistics__batch {
  display: inline-block;
  color: #9dff3a;
  padding: 12px 20px;
  border: 1px solid #2e2e2e;
  border-radius: 100px;
  margin-bottom: 16px;
}
.statistics__title {
  color: #e5e5e5;
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 16px;
}
.statistics__description {
  max-width: 544px;
  color: #999999;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  margin-bottom: 32px;
}
.statistics__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
}
@media (min-width: 1024px) {
  .statistics__list {
    justify-content: center;
    flex-direction: row;
    gap: 72px;
  }
}
.statistics__total {
  font-size: 48px;
  line-height: 100%;
  font-weight: 400;
  color: #9dff3a;
  margin-bottom: 12px;
}
.statistics__descriptions {
  font-size: 20px;
  line-height: 140%;
  font-weight: 400;
  color: #999999;
}/*# sourceMappingURL=main.css.map */