* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.plans {
  background-color: #070707;
  padding: 436px 0;
}
.container {
  max-width: 1120px;
  margin: 0 auto;
}

.plans__header {
  text-align: center;
  max-width: 630px;
  color: #ffffff;
  margin: 0 auto 60px;
}

.plans__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 14px;
}

.plans_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0 auto;
}

.plans__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  color: #ffffff;
}

.plan {
  padding: 24px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background-color: #4b4a4a;
}
.plan__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  font-family: "Inter Tight", sans-serif;
}
.plan__text {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.plan-premium {
  padding: 24px;
  border: 1px solid #ffffff;
  color: #070707;
  border-radius: 12px;
  grid-column: 1 / span 2;
  background-color: #f5aa21;
}

.plan-premium__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 12px;
}

.plan-premium__text {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
